Concrete Crack Images for Classification/Negative/
Concrete Crack Images for Classification/Positive/
Concrete Crack Images for Classification.rar
Detección de grietas en imagines usando el método Otsu y filtrado multiple en tecnicas de procesamiento de imagenes.pdf
jwsn7tfbrp-1.zip
reproduccion.rar
applsci-10-08105.pdf